name: reconsider-workflow.yml

on:
  pull_request:
    branches:
      - "develop"
    types:
      - opened
  pull_request_review:
    branches:
      - "develop"
    types:
      - submitted
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JAVA_VERSION: 21

jobs:
  check-should-run:
    name: Check Should Run
    runs-on: ubuntu-latest
    outputs:
      should-run: ${{ steps.check-should-run.outputs.should-run }}
    steps:
      - name: Check Approval Count
        id: check-approval
        # 承認時に実行
        if: |
          github.event_name == 'pull_request_review' && github.event.review.state == 'approved'
        run: |
          set -e
          response=$(curl -s -w "%{http_code}" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/reviews")
          http_status="${response: -3}"
          body="${response::${#response}-3}"

          if [ "$http_status" -ne 200 ]; then
          echo "GitHub API 呼び出しが失敗しました。[$http_status]"
          exit 1
          fi

          APPROVALS=$(echo "$body" | jq '[.[] | select(.state == "APPROVED")] | length')
          
          # 承認数を表示
          echo "## 承認数" >> $GITHUB_STEP_SUMMARY
          echo "このPRの合計承認数は **${APPROVALS}件** です。" >> $GITHUB_STEP_SUMMARY
          
          # 承認数が2人以上かどうかを判定
          if [ "$APPROVALS" -eq 2 ]; then
          echo "has-sufficient-approvals=true" >> $GITHUB_OUTPUT
          else
          echo "has-sufficient-approvals=false" >> $GITHUB_OUTPUT
          fi

      # プルリクエスト作成時、手動トリガー時、2人目以降の承認時に後続のジョブを実行する
      - name: Check Should Run
        id: check-should-run
        if: |
          github.event_name == 'pull_request' && github.event.action == 'opened' ||
          github.event_name == 'workflow_dispatch' ||
          steps.check-approval.outputs.has-sufficient-approvals == 'true'
        run: |
          echo "should-run=true" >> $GITHUB_OUTPUT
  build:
    name: Build Project
    runs-on: ubuntu-latest
    needs: check-should-run
    if: needs.check-should-run.outputs.should-run == 'true'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          # 全履歴を取得。当ステップの所要時間が10秒を超える場合、fetch-depthの設定の修正を検討してください
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: on-failure
